/* =--------------------------------------= Globals & Resets =------------------= */
*
	font-family: $baseFontFamily
	margin: 0
	padding: 0
	box-sizing: $baseBoxSizing
	outline: none
	border: none
	text-decoration: none
	text-transform: $baseTextTransform
	transition: $baseTransition

html
	font-size: 62.5%
	overflow-x: hidden
	scroll-behavior: smooth
	scroll-padding-top: 6rem
	&::_webkit-scrollbar
		width: 1rem
	&::_webkit-scrollbar-track
		background: transparent
	&::_webkit-scrollbar-thumb
		background: $mainColor