.btn
	display: inline-block
	margin-top: 1rem
	border: $baseBorder
	background: $whiteColor
	padding: 1rem 3rem
	font-size: 1.7rem
	color: $darkColor
	cursor: pointer

	&:hover
		background: $mainColor
		color: $whiteColor

.swiper-button-next

	@include respond-to($mobileBreakPoint)
		display: none

	&::after
		font-size: 2rem
		color: $darkColor

.swiper-button-prev

	@include respond-to($mobileBreakPoint)
		display: none

	&::after
		font-size: 2rem
		color: $darkColor
