/* =--------= Border Sizing =-= */
$baseBoxSizing: border-box

/* =--------= Fonts =-= */
$baseFontFamily: "Poppins", sans-serif
$baseTextTransform: capitalize

/* =--------= Colors =-= */
$mainColor: rgb(232, 67, 147) /* ------------- pink --- */
$darkColor: rgb(34, 34, 34) /* ------------- black --- */
$whiteColor: rgb(255, 255, 255) /* ------------- white --- */
$lightBgColor: rgb(245, 245, 245) /* ------------- light-bg --- */
$lightTextColor: rgb(119, 119, 119) /* ------------- light-color --- */

/* =--------= Borders =-= */
$baseBorder: 0.2rem solid $darkColor

/* =--------= Borders =-= */
$boxShadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)

/* =--------= Transitions =-= */
$baseTransition: all 0.25s ease-in-out

/* =--------= Responsive Break Points =-= */
$smallBreakPoint: 450px
$mobileBreakPoint: 768px
$tabletBreakPoint: 991px
$desktopBreakPoint: 1200px