/* =--------------------------------------= Import Fonts =------------------= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
/* =--------------------------------------= Import Resets =------------------= */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.25s ease-in-out; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; }
  html::-webkit-scrollbar {
    width: 1rem; }
  html::-webkit-scrollbar-track {
    background: transparent; }
  html::-webkit-scrollbar-thumb {
    background: #e84393; }
  @media (max-width: 991px) {
    html {
      font-size: 55%; } }
  @media (max-width: 450px) {
    html {
      font-size: 50%; } }

section {
  padding: 5rem 9%; }
  @media (max-width: 991px) {
    section {
      padding: 3rem 2rem; } }

/* =--------------------------------------= Import Components =------------------= */
.heading {
  text-align: center;
  margin-bottom: 4rem; }
  .heading h1 {
    font-size: 3.5rem;
    color: #222222; }
  .heading p {
    margin: 1rem auto;
    font-size: 1.5rem;
    color: #777777;
    max-width: 50rem;
    line-height: 2; }

/* =--------------------------------------= Import Utils Classes =------------------= */
.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 0.2rem solid #222222;
  background: white;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #222222;
  cursor: pointer; }
  .btn:hover {
    background: #e84393;
    color: white; }

@media (max-width: 768px) {
  .swiper-button-next {
    display: none; } }
.swiper-button-next::after {
  font-size: 2rem;
  color: #222222; }

@media (max-width: 768px) {
  .swiper-button-prev {
    display: none; } }
.swiper-button-prev::after {
  font-size: 2rem;
  color: #222222; }

/* =--------------------------------------= Home Page Styles =------------------= */
/* =------= Header Partition =---= */
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
    opacity: 0; } }
header.header {
  padding: 1.5rem 9%;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; }
  @media (max-width: 991px) {
    header.header {
      padding: 1.5rem 2rem; } }
  header.header .logo img {
    height: 4rem; }
  header.header .search__form {
    height: 5rem;
    width: 50rem;
    border-radius: 0.5rem;
    background: whitesmoke;
    display: flex;
    align-items: center;
    padding: 0 1.5rem; }
    header.header .search__form input {
      width: 100%;
      background: none;
      color: #777777;
      font-size: 1.6rem;
      text-transform: none; }
    header.header .search__form label {
      font-size: 2rem;
      margin-left: 0.7rem;
      color: #222222;
      cursor: pointer; }
      header.header .search__form label:hover {
        color: #e84393; }
    @media (max-width: 768px) {
      header.header .search__form {
        position: absolute;
        top: 99%;
        left: 0;
        border-top: 0.2rem solid #222222;
        border-bottom: 0.2rem solid #222222;
        width: 100%;
        height: 6rem;
        background: white;
        display: none;
        animation: fadeUp 0.25s linear backwards; }
        header.header .search__form__opened {
          display: flex; } }
  header.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #222222;
    background: whitesmoke;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem; }
    header.header .icons div:hover {
      background: #e84393;
      color: white; }
  header.header .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #222222;
    background: whitesmoke;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem; }
    header.header .icons a:hover {
      background: #e84393;
      color: white; }
  header.header .icons .search__btn {
    display: none; }
    @media (max-width: 768px) {
      header.header .icons .search__btn {
        display: inline-block; } }

/* =------= NavBar Partition =---= */
nav.navbar {
  position: fixed;
  top: 0;
  left: -110%;
  z-index: 1010;
  height: 100%;
  width: 100%;
  background: url("../../../Assets/Images/NavBar_Bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 15%; }
  nav.navbar__opened {
    left: 0; }
  nav.navbar .close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    color: #222222;
    background: white;
    cursor: pointer;
    font-size: 3rem; }
    nav.navbar .close:hover {
      color: white;
      background: #e84393; }
  nav.navbar a {
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: white; }
    nav.navbar a:hover {
      color: #e84393;
      letter-spacing: 0.2rem; }

/* =------= Home Part Partition =---= */
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
    opacity: 0; } }
.home {
  padding: 0; }
  .home .slide {
    display: none;
    height: calc(100vh - 7rem); }
    .home .slide__active {
      display: flex; }
    @media (max-width: 768px) {
      .home .slide {
        position: relative;
        height: calc(100vh - 6rem); } }
    .home .slide .content {
      width: 50%;
      padding: 2rem 7%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column;
      background: #fce9f2;
      position: relative; }
      @media (max-width: 991px) {
        .home .slide .content {
          padding: 2rem; } }
      @media (max-width: 768px) {
        .home .slide .content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          align-items: center;
          background: rgba(255, 255, 255, 0.7); } }
      .home .slide .content img {
        height: 25rem;
        width: 25rem;
        margin-bottom: 2rem;
        animation: fadeUp 0.2s linear backwards 0.2s;
        display: none; }
        @media (max-width: 768px) {
          .home .slide .content img {
            display: inline-block; } }
      .home .slide .content span {
        display: block;
        color: #e84393;
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        animation: fadeUp 0.2s linear backwards 0.4s; }
        @media (max-width: 991px) {
          .home .slide .content span {
            font-size: 2rem; } }
      .home .slide .content h3 {
        font-size: 5.5rem;
        text-transform: uppercase;
        color: #222222;
        animation: fadeUp 0.2s linear backwards 0.6s; }
        @media (max-width: 991px) {
          .home .slide .content h3 {
            font-size: 4rem; } }
      .home .slide .content .btn {
        animation: fadeUp 0.2s linear backwards 0.8s; }
      .home .slide .content .controls {
        position: absolute;
        right: -7rem;
        bottom: 12%; }
        @media (max-width: 768px) {
          .home .slide .content .controls {
            position: static;
            margin-top: 7rem; } }
        .home .slide .content .controls div {
          height: 5rem;
          width: 5rem;
          line-height: 5rem;
          text-align: center;
          font-size: 3rem;
          margin: 0 1rem;
          background: white;
          color: #222222;
          box-sizing: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          cursor: pointer; }
          @media (max-width: 768px) {
            .home .slide .content .controls div {
              margin: 0 0.5rem; } }
          .home .slide .content .controls div:hover {
            background: #e84393;
            color: white;
            transform: scale(1.1); }
    .home .slide .image {
      width: 50%;
      height: 100%; }
      @media (max-width: 768px) {
        .home .slide .image {
          width: 100%; } }
      .home .slide .image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }

/* =------= Categories Partition =---= */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem; }
  .categories .box {
    padding: 2rem;
    border-radius: 0.5rem;
    background: whitesmoke;
    text-align: center; }
    .categories .box:hover {
      background: #222222; }
      .categories .box:hover img {
        filter: invert(1);
        color: white; }
      .categories .box:hover p {
        color: white; }
    .categories .box img {
      height: 10rem;
      margin-bottom: 1rem; }
    .categories .box p {
      font-size: 1.7rem;
      color: #222222; }

/* =------= About Partition =---= */
.about {
  background: url("../../../Assets/Images/About_Bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center; }
  .about .content {
    width: 55rem;
    background: white;
    padding: 3rem; }
    .about .content span {
      font-size: 2rem;
      color: #e84393; }
    .about .content h3 {
      padding-top: 1rem;
      font-size: 3rem;
      color: #222222; }
    .about .content p {
      font-size: 1.5rem;
      color: #777777;
      line-height: 2;
      padding: 1rem 0; }

/* =------= Shop Partition =---= */
.shop .slide {
  border: 0.2rem solid #222222;
  background: white; }
  .shop .slide:hover .image img {
    transform: scale(1.1); }
  .shop .slide:hover .image .icons {
    right: 1rem; }
  .shop .slide .image {
    height: 35rem;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .shop .slide .image .discount {
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: 0.5rem 1.5rem;
      font-size: 1.5rem;
      color: white;
      background: #e84393;
      z-index: 10;
      border-radius: 0.5rem; }
    .shop .slide .image img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .shop .slide .image .icons {
      position: absolute;
      bottom: 0;
      right: -8rem; }
      .shop .slide .image .icons a {
        height: 5rem;
        width: 5rem;
        line-height: 4.5rem;
        font-size: 2rem;
        background: white;
        color: #222222;
        border: 0.2rem solid #222222;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
        text-align: center;
        display: block; }
        .shop .slide .image .icons a:hover {
          background: #e84393;
          color: white; }
  .shop .slide .content {
    padding: 2rem;
    border-top: 0.2rem solid #222222; }
    .shop .slide .content .stars {
      padding-bottom: 0.5rem; }
      .shop .slide .content .stars i {
        font-size: 1.5rem;
        color: #777777; }
    .shop .slide .content p {
      font-size: 2rem;
      color: #222222;
      line-height: 2; }
    .shop .slide .content .price {
      font-size: 2rem;
      color: #e84393; }
      .shop .slide .content .price span {
        font-size: 1.5rem;
        color: #777777;
        text-decoration: line-through; }

/* =------= Gallery Partition =---= */
.gallery {
  background: whitesmoke; }
  .gallery .lightbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem; }
    .gallery .lightbox a {
      height: 30rem;
      overflow: hidden;
      border: 1rem solid white;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
      .gallery .lightbox a:hover img {
        transform: scale(1.1); }
      .gallery .lightbox a img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/* =------= Team Partition =---= */
.team {
  background: linear-gradient(whitesmoke 50%, white 50%); }
  .team .box__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem; }
    .team .box__container .box {
      border: 0.2rem solid #222222;
      text-align: center; }
      .team .box__container .box:hover .image img {
        transform: scale(1.1); }
      .team .box__container .box:hover .image .share {
        left: 0; }
      .team .box__container .box .image {
        width: 100%;
        height: 50rem;
        position: relative;
        overflow: hidden; }
        .team .box__container .box .image img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
        .team .box__container .box .image .share {
          position: absolute;
          top: 0;
          left: -8rem;
          background: #222222;
          display: flex;
          gap: 1rem;
          height: 100%;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          padding: 0 1rem; }
          .team .box__container .box .image .share a {
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            border: 0.2rem solid white;
            color: white;
            font-size: 2.5rem; }
            .team .box__container .box .image .share a:hover {
              background: white;
              color: #222222; }
      .team .box__container .box .content {
        padding: 1rem;
        border-top: 0.2rem solid #222222; }
        .team .box__container .box .content h3 {
          font-size: 2rem;
          color: #222222; }
        .team .box__container .box .content p {
          font-size: 1.5rem;
          color: #e84393; }

/* =------= Arrivals Partition =---= */
.arrivals .slide {
  text-align: center;
  background: white; }
  .arrivals .slide:hover .image img {
    transform: scale(1.1); }
  .arrivals .slide .image {
    width: 100%;
    height: 30rem;
    overflow: hidden; }
    .arrivals .slide .image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .arrivals .slide .content {
    padding-top: 0.5rem; }
    .arrivals .slide .content p {
      font-size: 2rem;
      color: #222222;
      line-height: 2rem;
      padding: 0.5rem 0; }
    .arrivals .slide .content .price {
      font-size: 2rem;
      color: #e84393; }
      .arrivals .slide .content .price span {
        font-size: 1.5rem;
        color: #777777;
        text-decoration: line-through; }

/* =------= Reviews Partition =---= */
.review .reviews__slider .slide .user {
  display: flex;
  gap: 1rem;
  align-items: center; }
  .review .reviews__slider .slide .user img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%; }
  .review .reviews__slider .slide .user .info h3 {
    font-size: 2rem;
    color: #222222; }
  .review .reviews__slider .slide .user .info .stars i {
    font-size: 1.5rem;
    color: #e84393; }
.review .reviews__slider .slide .text {
  padding: 2rem;
  background: whitesmoke;
  line-height: 2;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #777777;
  position: relative;
  margin-top: 2rem; }
  .review .reviews__slider .slide .text::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 3rem;
    height: 2rem;
    width: 2rem;
    background: whitesmoke;
    transform: rotate(45deg); }

/* =------= Services Partition =---= */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
  background: whitesmoke; }
  .services .box {
    border: 0.2rem solid #222222;
    text-align: center;
    padding: 2rem;
    background: white; }
    .services .box:hover {
      background: #222222; }
      .services .box:hover img {
        filter: invert(1); }
      .services .box:hover h3 {
        color: white; }
      .services .box:hover p {
        color: white; }
    .services .box img {
      height: 8rem;
      margin-bottom: 0.5rem; }
    .services .box h3 {
      padding: 0.7rem 0;
      font-size: 2rem;
      color: #222222; }
    .services .box p {
      font-size: 1.5rem;
      color: #777777;
      line-height: 2; }

/* =------= Blogs Partition =---= */
.blogs .blogs__slider .slide:hover .image img {
  transform: scale(1.1); }
.blogs .blogs__slider .slide:hover .image .icons {
  transform: translateY(0); }
.blogs .blogs__slider .slide .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .blogs .blogs__slider .slide .image img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .blogs .blogs__slider .slide .image .icons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border: 0.2rem solid #222222;
    z-index: 10;
    background: white;
    transform: translateY(10rem); }
    .blogs .blogs__slider .slide .image .icons a {
      font-size: 1.5rem;
      color: #222222; }
      .blogs .blogs__slider .slide .image .icons a i {
        padding-right: 0.5rem;
        color: #e84393; }
      .blogs .blogs__slider .slide .image .icons a:hover {
        color: #e84393; }
.blogs .blogs__slider .slide .content {
  text-align: center;
  padding: 1.5rem; }
  .blogs .blogs__slider .slide .content h3 {
    font-size: 2rem;
    color: #222222; }
  .blogs .blogs__slider .slide .content p {
    padding: 1rem 0;
    line-height: 2;
    color: #777777;
    font-size: 1.5rem; }

/*# sourceMappingURL=Styles.css.map */
