/* =--------------------------------------= Import Fonts =------------------= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
/* =--------------------------------------= Import Sass Variables  =------------------= */
/* =--------= Border Sizing =-= */
/* =--------= Fonts =-= */
/* =--------= Colors =-= */
/* =--------= Borders =-= */
/* =--------= Borders =-= */
/* =--------= Transitions =-= */
/* =--------= Responsive Break Points =-= */
/* =--------------------------------------= Import Mixins =------------------= */
/* =--------------------------------------= Import Resets =------------------= */
/* =--------------------------------------= Globals & Resets =------------------= */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.25s ease-in-out; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; }
  html::_webkit-scrollbar {
    width: 1rem; }
  html::_webkit-scrollbar-track {
    background: transparent; }
  html::_webkit-scrollbar-thumb {
    background: #e84393; }
  @media (max-width: 991px) {
    html {
      font-size: 55%; } }
  @media (max-width: 450px) {
    html {
      font-size: 50%; } }

section {
  padding: 5rem 9%; }
  @media (max-width: 991px) {
    section {
      padding: 3rem 2rem; } }

/* =--------------------------------------= Import Components =------------------= */
/* =--------------------------------------= Import Classes To Extends =------------------= */
.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 0.2rem solid #222222;
  background: white;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #222222;
  cursor: pointer; }
  .btn:hover {
    background: #e84393;
    color: white; }

/* =--------------------------------------= Home Page Styles =------------------= */
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
    opacity: 0; } }
header.header {
  padding: 1.5rem 9%;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; }
  @media (max-width: 991px) {
    header.header {
      padding: 1.5rem 2rem; } }
  header.header .logo img {
    height: 4rem; }
  header.header .search__form {
    height: 5rem;
    width: 50rem;
    border-radius: 0.5rem;
    background: whitesmoke;
    display: flex;
    align-items: center;
    padding: 0 1.5rem; }
    header.header .search__form input {
      width: 100%;
      background: none;
      color: #777777;
      font-size: 1.6rem;
      text-transform: none; }
    header.header .search__form label {
      font-size: 2rem;
      margin-left: 0.7rem;
      color: #222222;
      cursor: pointer; }
      header.header .search__form label:hover {
        color: #e84393; }
    @media (max-width: 768px) {
      header.header .search__form {
        position: absolute;
        top: 99%;
        left: 0;
        border-top: 0.2rem solid #222222;
        border-bottom: 0.2rem solid #222222;
        width: 100%;
        height: 6rem;
        background: white;
        display: none;
        animation: fadeUp 0.25s linear backwards; }
        header.header .search__form__opened {
          display: flex; } }
  header.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #222222;
    background: whitesmoke;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem; }
    header.header .icons div:hover {
      background: #e84393;
      color: white; }
  header.header .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #222222;
    background: whitesmoke;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem; }
    header.header .icons a:hover {
      background: #e84393;
      color: white; }
  header.header .icons .search__btn {
    display: none; }
    @media (max-width: 768px) {
      header.header .icons .search__btn {
        display: inline-block; } }

nav.navbar {
  position: fixed;
  top: 0;
  left: -110%;
  z-index: 1010;
  height: 100%;
  width: 100%;
  background: url("../../../Assets/Images/NavBar_Bg.png") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 15%; }
  nav.navbar__opened {
    left: 0; }
  nav.navbar .close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    color: #222222;
    background: white;
    cursor: pointer;
    font-size: 3rem; }
    nav.navbar .close:hover {
      color: white;
      background: #e84393; }
  nav.navbar a {
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: white; }
    nav.navbar a:hover {
      color: #e84393;
      letter-spacing: 0.2rem; }

@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
    opacity: 0; } }
.home {
  padding: 0; }
  .home .slide {
    display: none;
    height: calc(100vh - 7rem); }
    .home .slide__active {
      display: flex; }
    @media (max-width: 768px) {
      .home .slide {
        position: relative;
        height: calc(100vh - 6rem); } }
    .home .slide .content {
      width: 50%;
      padding: 2rem 7%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column;
      background: #fce9f2;
      position: relative; }
      @media (max-width: 991px) {
        .home .slide .content {
          padding: 2rem; } }
      @media (max-width: 768px) {
        .home .slide .content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          align-items: center;
          background: rgba(255, 255, 255, 0.7); } }
      .home .slide .content img {
        height: 25rem;
        width: 25rem;
        margin-bottom: 2rem;
        animation: fadeUp 0.2s linear backwards 0.2s;
        display: none; }
        @media (max-width: 768px) {
          .home .slide .content img {
            display: inline-block; } }
      .home .slide .content span {
        display: block;
        color: #e84393;
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        animation: fadeUp 0.2s linear backwards 0.4s; }
        @media (max-width: 991px) {
          .home .slide .content span {
            font-size: 2rem; } }
      .home .slide .content h3 {
        font-size: 5.5rem;
        text-transform: uppercase;
        color: #222222;
        animation: fadeUp 0.2s linear backwards 0.6s; }
        @media (max-width: 991px) {
          .home .slide .content h3 {
            font-size: 4rem; } }
      .home .slide .content .btn {
        animation: fadeUp 0.2s linear backwards 0.8s; }
      .home .slide .content .controls {
        position: absolute;
        right: -7rem;
        bottom: 12%; }
        @media (max-width: 768px) {
          .home .slide .content .controls {
            position: static;
            margin-top: 7rem; } }
        .home .slide .content .controls div {
          height: 5rem;
          width: 5rem;
          line-height: 5rem;
          text-align: center;
          font-size: 3rem;
          margin: 0 1rem;
          background: white;
          color: #222222;
          box-sizing: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          cursor: pointer; }
          @media (max-width: 768px) {
            .home .slide .content .controls div {
              margin: 0 0.5rem; } }
          .home .slide .content .controls div:hover {
            background: #e84393;
            color: white;
            transform: scale(1.1); }
    .home .slide .image {
      width: 50%;
      height: 100%; }
      @media (max-width: 768px) {
        .home .slide .image {
          width: 100%; } }
      .home .slide .image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem; }
  .categories .box {
    padding: 2rem;
    border-radius: 0.5rem;
    background: whitesmoke;
    text-align: center; }
    .categories .box:hover {
      background: #222222; }
      .categories .box:hover img {
        filter: invert(1);
        color: white; }
      .categories .box:hover p {
        color: white; }
    .categories .box img {
      height: 10rem;
      margin-bottom: 1rem; }
    .categories .box p {
      font-size: 1.7rem;
      color: #222222; }

.about {
  background: url("../../../Assets/Images/About_Bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center; }
  .about .content {
    width: 55rem;
    background: white;
    padding: 3rem; }
    .about .content span {
      font-size: 2rem;
      color: #e84393; }
    .about .content h3 {
      padding-top: 1rem;
      font-size: 3rem;
      color: #222222; }
    .about .content p {
      font-size: 1.5rem;
      color: #777777;
      line-height: 2;
      padding: 1rem 0; }

/*# sourceMappingURL=Styles.css.map */
